<form action="/" id="directions-form" method="GET">
    <label for="origin">Origin:</label>
    <input type="text" id="origin" name="origin" />
    <label for="destination">Destination:</label>
    <input type="text" id="destination" name="destination" />
    <input type="submit" id="submit" value="Guide Me!" />
</form>
        
