mixin list-group(list)
    ul.list-group
        - each item in list
            li.list-group-item= item
            
mixin link-list-group(list)
    div.list-group
        - each item in list
            a.list-group-item(href='#{item.href}')= item.text