<form action="/" method="GET">
    <label for="origin">Origin:</label>
    <input type="text" id="origin" name="origin" />
    <label for="destination">Destination:</label>
    <input type="text" id="destination" name="destination" />
    <input type="submit" value="Guide Me!" />
</form>
        
