<!DOCTYPE html>
<html>
    <head>
        <!-- yea, you aren't supposed to do this, but it works -->
        <style type="text/css">
            html, body{
                height: 100%;
                margin: 0px;
                padding: 0px;
                background-color:#dadada;
            }
            header{
                width:100%;
                background-color:#77f;
                text-align:center;
                padding:10px;
            }
            main{
                max-width:1024px;
                background-color:#fff;
                margin:0 auto;
                box-shadow:0px 5px 10px;
                padding:16px;
            }
        </style>
    </head>
    <body>
        <header>
            {{form}}
        </header>
        <main>
            {{content}}
        </main>
    </body>
</html>