extends ../layout
include ../mixins
block content
  
  form(method="POST")
        mixin inputGroup("Name *", "name","text", name)
        mixin dropdownGroup("Category *", "category", category, categories)
        mixin inputGroup("Description", "description", "text", description)
        mixin inputGroup("URL *", "url", "text", url)
        p= "* Denotes a required field"
        mixin submitGroup([{url:"/links", label:"Cancel"}, {label:"Submit"}])