extends ../layout
include ../mixins

block content
  form(method="POST")
        mixin inputGroup("Name *", "name","text", link.name)
        mixin dropdownGroup("Category *", "category", link.category, categories)
        mixin inputGroup("Description", "description", "text", link.description)
        mixin inputGroup("URL *", "url", "text", link.url)
        p= "* Denotes a required field"
        mixin submitGroup([{url:"/links", label:"Cancel"},{url:"/links/delete?_id=" + link._id, label:"Delete"}, {label:"Submit"}])