//index for /links
extends ../layout

block content
  -if(links.length >0)
    div.row
      div.col-md-3.col-xs-3
        p Name
      div.col-md-2.col-xs-2
        p Category
      div.col-md-6.col-xs-6
        p Description
    each link in links
      div.row.link-row
        div.col-md-3.col-xs-3
          a(href=link.url, target="_blank") #{link.name}
        div.col-md-2.col-xs-2
          p #{link.category}
        div.col-md-6.col-xs-6
          p #{link.description}
        div.col-md-1.col-xs-1
          a(href="/links/edit?_id=" + link._id)
            span.glyphicon.glyphicon-pencil
  -else
    p= "You don't seem to have any links. Please "
      a(href="links/add") Add One
  