doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap-3.3.2/css/bootstrap.css')
    link(rel='stylesheet', href='/resources/theme.css')
  body
    div.page-container
      include includes/header
      main
        block main
      include includes/aside
      include includes/footer