extends layout
include includes/mixins

block main
    h1= title
    - if(typeof loginError !== 'undefined')
        div.alert.alert-danger #{loginError}
    form(action="/login", method="POST")
        input(type="hidden", name="timezoneOffset", value="0")
        mixin formgroup("text", "Username", "userid", "Enter Username")
        mixin formgroup("password", "Password", "pwd", "Enter Password")
        div.submit
            input(type="submit", value="Log in").btn.sbtn-default
        p.forgot
            a(target="_blank", href="https://trueyou.nebraska.edu/idm/user/login.jsp") Forgot your password?
    


