header
  nav.navbar.navbar-default.navbar-fixed-top
    div.container
      div.navbar-header
        button(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='true', aria-controls='navbar').navbar-toggle
          span.sr-only
            Toggle Navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/links') Links
      div(aria-expanded="true", id="navbar").navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href="/links/add") Add Link
