doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    
  body
    div.content
      header
        include header
      main
        h1 #{title}
        
        -if(flash.error != '')
              div.large-12.columns
                div(role="alert").alert.alert-danger.alert-dismissible= flash.error
                  button(type="button", data-dismiss="alert").close
                    span &times;
            -if(flash.notice != '')
              div.large-12.columns
                div(role="alert").alert.alert-success.alert-dismissible= flash.notice
                  button(type="button", data-dismiss="alert").close
                    span &times;
                  
        block content
        
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="/js/bootstrap.min.js")