//- 
    ---Input form mixin---
    Takes a title for the label and placeholder text
    Takes a type for input type
    Takes a value for value of input if already specified.
mixin inputGroup(title, name, type, value)
    div.input-group
        span.input-group-addon(id=title + "_label") #{title}
        input(type=type, aria-describedby=title + "_label", value=value, id=name, name=name).form-control 
        
//- 
    Mixin for dropdown selections
    Adapted from https://ide.c9.io/swensonpn/spring-2015-csit-406
mixin dropdownGroup(title, name, value, options)
    div.input-group
        span.input-group-addon(id=title + "_label") #{title}
        select(id=name, name=name).form-control
            -if(options instanceof Array)
                -each option in options
                    -if(typeof options === 'object')
                        -if(option.value === value)
                            option(value=option.value,selected) #{option.label}
                        -else
                            option(value=option.value) #{option.label}
                            
//- 
    ---Submit/Cancel button group mixin---
    Takes an array of button objects
    Button objects should have a label and a url
mixin submitGroup(buttons)
    div(role="group").btn-group.btn-group-right
        each button in buttons
            -if(button.label==="Submit")
                button(type="submit").btn.btn-success #{button.label}
            -else if(button.label==="Cancel")
                a(href=button.url).btn.btn-primary #{button.label}
            -else
                a(href=button.url).btn.btn-danger #{button.label}
