mixin formgroup(type, label, name, value)
    div.form-group
        label(for=label) #{label}
        input(type=type, id=label, placeholder=value, name=name).form-control
        
mixin relatedlink(href, title, icon)
    li 
        a(href=href, title=title)
            span.sr-only #{title}
            // Is there a better way to do the following span class?
            span(class="glyphicon-" + icon).glyphicon
