html{
  min-height:100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image:url("/images/ocean.jpg");
  width:100%;
  min-height:100%;
  background-size:100% 100%;
}

.content{
  width:80%;
  margin:0 auto;
}
main{
  background-color:rgba(255,255,255,.9);
  padding:15px;
  overflow:auto;
  max-height:800px;
  margin-top:50px;
}

a {
  color: #00B7FF;
}

.navbar-fixed-top{
  right:10%;
  left:10%;
  margin:0;
}

.input-group{
  margin:10px 0;
}

.link-row{
  border-top:1px solid #ccc;
  padding-top:5px;
}
/*
.link-row:nth-child(even){
  background-color:rgba(230,230,230,.9);
}
*/
.link-row:hover{
  background-color:rgba(230,230,230,.9);
}
@media(max-width:992px){
  .content{
    width:100%;
  }
  .navbar-fixed-top{
    right:0;
    left:0;
  }
}

