body {
  padding-top: 40px;
  background-color:#B6BBC2;
}

main {
  padding: 15px;
  margin:0 auto;
  max-width:1200px;
  background-color:white;
  min-height:100%;
  height:auto;
  box-shadow: 0px 10px 20px #555;
}

h1{
    text-align:center;
}

.progress{
    background-color:#ccc;
    height:20px;
}
.progress .progress-bar{
    line-height:normal;
    font-size:.9em;
}

.progress-label{
    float:left;
    margin-right:1em;
}

.progress-bar-blank{
    opacity:0;
}

.panel-heading{
    font-weight:bold;
    color:white;
}
.panel-heading>a{
    float:right;
}
.panel-heading>p{
    display:inline;
}
.panel-content{
    margin:15px;
}

.panel-heading>span>a,
.panel-heading>a{
    color:white;
}

.well{
    border: 1px solid #ccc;
}

tr:nth-child(even) {
    background-color: #ccc
}