doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap-3.3.6-dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap-3.3.6-dist/css/bootstrap-theme.css')
    
  body
    header.jumbotron
      div.container
        div.page-header
          h1= title
    main.container
      block content